<!DOCTYPE html>
<html>
    <body>
        <Title>This is the contact page</Title>
        <nav>This is the Home Page
            <ul>
                <li>
                    <a href="home.html">Home</a>
                    </li>
                    <li>
                        <a href="aboutme.html">about</a>
                        </li>
                        <li>
                            <a href="resume.html">resume</a>
                            </li>
                            <li>
                                <a href="contact.html">contact</a>
                                </li>
                    </ul>
                    </nav> 
                    <form action="https://httpbin.org/get" method = "get">
                        <label for="firstname"> firstname: </label>
                        <input type="text" name = "firstname"
                        id = "firstname">
                        
                      <br>
                      <form action="https://httpbin.org/get" method = "get">
                        <label for="email"> email: </label>
                        <input type="email" name = "email"
                        id = "email">
                        <br>
                      
                      <form action="https://httpbin.org/get" method = "get">
                        <label for="subject"> subject </label>
                        <input type="text" name = "subject"
                        id = "subject">
                        <br>
                      
                    <br>
                    <fieldset>
                        <legend>send me a note:</legend>
                        <label for ="message">Your message:</label>
                        <br>
                        <textarea name="message" id="message" rows="30" cols="40" placeholder="type your message here"></textarea>
                        <input type = "text" text = "text">
                        </fieldset>
                        <br>
                        <button type = "submit">Submit</button>
                    </form>



                    



        </body>
        </html>