<!DOCTYPE html>
<html>
    <body>

        <head>
            <title>Home
                </title>
                </head>
                <h1>home Page</h1>
                <p1>Welcome to my home page</p1>
                <p1>Here you will be able to find my about me, resume, and contact information

               <nav>This is the Home Page
        <ul>
            <li>
                <a href="home.html">Home</a>
                </li>
                <li>
                    <a href="aboutme.html">about</a>
                    </li>
                    <li>
                        <a href="resume.html">resume</a>
                        </li>
                        <li>
                            <a href="contact.html">contact</a>
                            </li>
                </ul>
                </nav> 
        </body>
        </html>