<!DOCTYPE html>
<html>

<body>
    <Title>This is the resume</Title>
    <nav>This is the Home Page
        <ul>
            <li>
                <a href="home.html">Home</a>
                </li>
                <li>
                    <a href="aboutme.html">about</a>
                    </li>
                    <li>
                        <a href="resume.html">resume</a>
                        </li>
                        <li>
                            <a href="contact.html">contact</a>
                            </li>
                </ul>
                </nav>
                <h1>Jackson Shurley</h1>
                <p1>Email: jackson.shurley@lyon.edu | Phone: (870) 530-2946</p1>
                <h2>Professional Summary</h2>
                <p1>Experienced with IT and customer service</p1>
                <h2>Work experience</h2>
                <h3>IT at Lyon College</h3>
                <p1>October 2023 - present
                    <br>
                    <ul>
                        <li>diagnosing and fixing problems</li>
                        <li>working with callers on the phone</li>
                        <li>creating inventory of items</li>


                        </ul>
                        <br>
                        <h3>Server at Fujiyama, Japanese steakhouse</h3>
                        <p1>Feb 2023 - present</p1>
                        <ul>
                            <li>Working with customers</li>
                            <li>Handling task simontaniously</li>

                        </ul>



                <h2>Education</h2>
                <h3>Degree - High School</h3>
                <p1>August 2019-August 2023</p1>p1>



    </body>
    </html>